html{
	scroll-behavior: smooth;
  overflow-x: hidden;
}
@font-face {
 font-family: "DecovarAlpha";
 src: url(" font/DecovarAlpha-VF.ttf");
}

@font-face {
 font-family: "MarvinVisions";
 font-weight: 400;
 src: url("font/MarvinVisionsTrial-Variable.ttf");
}

@font-face {
 font-family: "MarvinVisionslight";
 font-weight: 100;
 src: url("font/MarvinVisionsTrial-Variable.ttf");
}


.header{
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(img/fondheader.svg);
	background-size: contain;
}

#textchapo{
	position: absolute;
    left: 14%;
    max-width: 20%;
    bottom: 15%;
    font-size: 15px;
    color: #FBFBFB;
    font-family: DecovarAlpha;

}

.buttonheader{
	text-align: center;
	
    border-radius: 50%;
    height: 134px;
    width: 134px;
   position: relative;
   margin: -111px auto 0;
}

.buttonheader a{
	font-family: MarvinVisionslight;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    top: 44%;
    left: 7%;
}

 .buttonheader a:before {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fbfbfb;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

 .buttonheader a:hover:before {
    width: 0;
}


.filter a {
    position: relative;
}

.filter a:before {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fbfbfb;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

 .filter a:hover:before {
    width: 0;
}

.title{
	    margin-top: -24px;
}

h1{
	font-family: MarvinVisions;
 	text-align: center;
 	font-size: 6em;
  color: #FBFBFB;
}

h2{
	font-family: MarvinVisions;
 	text-align: center;
 	font-size: 2em;
  color: #FBFBFB;
}

h3{
  font-family: MarvinVisions;

  font-size: 45px;
  color: #FBFBFB;
}

h4{
	font-family: DecovarAlpha;
 	text-align: center;
 	  color: #FBFBFB;
 	 font-size: 1.5em;
}

.filter{
	text-align: right;
    padding-right: 20%;
    margin-top:50px;
}

.basic-box h2{
	font-family: MarvinVisions;
    text-align: center;
    color: #1D1D1D;
    min-height: 461px;
    background: #FBFBFB;
}

hr
{border: solid #FBFBFB50;
    border-width: 0.1px;
    position: fixed;
    top: -10px;
   	z-index: -1;
        height: 510vh;
}

#hr1{
	 left: 25vw;
}

#hr2{
	 left: 50vw;
}

#hr3{
	 left: 75vw;
}

header{
  padding: 30px;
  text-align: center;
}

header p{
	font-family: DecovarAlpha;
  padding: 30px;
    font-size: 1.5em;
}

a{
  text-decoration: none;
 font-family: DecovarAlpha;
  transition: all .5s;
  color: #FBFBFB;
  margin: 0 10px;
}

.conteneurtextanim{position: absolute;
    left: 0;
    transform: rotate(
-1deg
);
    padding:7px;
    width: 100vw;
    background-color: #FBFBFB;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

.intro{
	text-align: center;
	margin-top: 300px;
}

.marquee {
    display: flex;
    position: relative;
    animation: moveLeft 18s linear infinite;
}

.track p{
    font-size: 16px;
    text-transform: uppercase;
  font-family: DecovarAlpha;
    white-space: nowrap;
    min-width: 100%;
    line-height: 1em;
    color: #1D1D1D;
    text-align: center;
}

.rotate {
  width: 23%;
    position: absolute;
    top: -200px;
    left: -100px;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: rotate 20s linear infinite;
    -o-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
   
}

@keyframes moveLeft{
  from{
    transform:translatex(0%);
    }
  to{
    transform:translatex(-100%);
    }
}
@keyframes rotate{
  0%
  {
    transform:rotate(-1turn)
  }

  to{
    
    transform:rotate(0)
  }
}

/* FILTRE CSS */



.abcontainer{
  width: 76%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.box-filter{
  display: none;
}

#consonant:target ~ .vowel{
    display: none;
}

#vowel:target ~ .consonant{
    display: none;
}

#all:target ~ .consonant, .vowel{
    display: block;
}

/* footer */

.footer{
  position: relative;
    height: 50vh;
}

.footer .top{
  padding: 20vh 0 0 8%;
    height: 50px;

}

.footer .top a{
  font-family: MarvinVisions;
  font-size: 45px;
  color: #FBFBFB;
  position: relative;
}

.footer .top a:before{
 content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fbfbfb;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.footer .top a:hover:before {
    width: 0;
}

.footer .bottom {
    text-align: center;
    opacity: 50%;
    position: absolute;
    bottom: 50px;
    margin: auto;
    left: 50vw;
    transform: translateX(-50%);
}


/* Lettre */

.lettre{
  height: 100vh;
  overflow-y: hidden;
}

 .lettre .footer .top a {
    font-family: MarvinVisions;
    font-size: 45px;
    color: #1D1D1D;
    position: relative;
}

.lettre .footer{
    bottom: 0;
    right: 0;
    position: absolute;
}


.lettre h3 {
    font-family: MarvinVisions;
    font-size: 45px;
    color: #1D1D1D;
}

.lettre .conteneurtextanim {
   position: fixed;
    overflow: hidden;
    top: 50%;
    border-bottom: 1px solid #FBFBFB;
    left: -50vw;
    transform: rotate( 
-90deg
 ) translate(0%,50%);
    padding: 12px;
    z-index: 9999;
    background-color: #1D1D1D;



}

.lettre .track p {
    font-size: 60px;
    text-transform: uppercase;
    font-family: MarvinVisions;
    white-space: nowrap;
    min-width: 100%;
    line-height: 1em;
    color: #fbfbfb;
    text-align: center;
}

.lettre span{
    font-size: 60px;

    -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fbfbfb;
    color: transparent;

}

.lettre a {
    text-decoration: none;
    font-family: DecovarAlpha;
    transition: all .5s;
    color: #1D1D1D;
    margin: 0 10px;
}


.lettre .footer .top a:before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #1D1D1D;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.lettre .marquee {
    display: flex;
    position: relative;
    animation: moveRight 18s linear infinite;
}


@keyframes moveRight{
  from{
    transform:translatex(-100%);
    }
  to{
    transform:translatex(0%);
    }
}

.corps{
  display: flex;
}

.corps .livre{

  width: 95vw;
  z-index: 20;
  background: #1D1D1D;
    position: relative;
}

.corps .auteur{

  height: 100vh;
  width: 95vw;
  position: relative;
}


.lettre h1{
  font-family: MarvinVisions;
  text-align: left;
  font-size: 5em;
  color: #1D1D1D;
}

.lettre h2{
  font-family: MarvinVisions;
  text-align: left;
  font-size: 2em;
color: #1D1D1D;
}

.lettre h3{
  font-family: MarvinVisions;

  font-size: 45px;
 color: #1D1D1D;
}

.lettre h4{
  font-family: DecovarAlpha;
  text-align: left;
  color: #1D1D1D;
   font-size: 1em;
}
.lettre h5{
  font-family: DecovarAlpha;
  text-align: left;
  color: #1D1D1D;
   font-size: 1em;
}

  .titleanimate {
    padding: 8%;
    width: fit-content;
    position: absolute;
    right: 0;

}

.alternatelivre{
  padding-top: 2%;
}

.alternatelivre .titre1{
    animation-name: fadeIn1;
    animation-duration: 7s;
    color: #FBFBFB;
    animation-iteration-count: infinite;

}

.alternatelivre .titre2{
    animation-name: fadeIn2;
    animation-duration: 7s;
    color: #FBFBFB;
    animation-iteration-count: infinite;
  transform: translateY(-100%);
}

.alternatelivre .titre3{
  animation-name: fadeIn3;
    animation-duration: 7s;
    color: #FBFBFB;
    animation-iteration-count: infinite;
  transform: translateY(-200%);
}

.alternatelivre h4{
  
    color: #FBFBFB;
 
}

@keyframes fadeIn1 {
  0% {
    opacity: 0; }

  1%{
    opacity: 1; }

  32% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  
 
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0; }

  

  32% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  
 65% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0; }

  

  65% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  
  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.discoverbook svg{
  position: absolute;
    bottom: 0;
    left: 50vw;
    transform: rotate(
180deg
);
}

.discoverbook p{
  position: absolute;
    bottom: 0;
    left: 53vw;
    font-family: 'DecovarAlpha';
    /* break-after: auto; */
    width: fit-content;
    transform: rotate( 
-90deg
 );
}

.discoverbook {
width: fit-content;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 50vh;
    left: 38vw;
    z-index: 10;}















